* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.b {
  height: 3000px;
  width: 25%;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  font-family: Courier;
  text-transform: uppercase;
  background-color: #000;
  border: #333 solid 2px;
  color: #333;
}

.f:hover {background: #333;}

.text1 {position: relative; top: 500px;}

.text2 {position: relative; top: 1000px;}

.text3 {position: relative; top: 50px;}

.text4 {position: relative; top: 2900px;}

.f {
  cursor: all-scroll;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  background-color: #000;
}
.f:active {cursor: none;}

.f1 {
  position: absolute;
  top: 450px;
  left: 12.5%;
  transform: translateX(-50%);
}

.f2 {
  position: absolute; 
  top: 950px;
  left: 37.5%;
  transform: translateX(-50%);
}

.f3 {
  position: absolute;
  top: 10px;
  left: 62.5%;
  transform: translateX(-50%);
}

.f4 {
  position: absolute;
  top: 2850px;
  left: 87.5%;
  transform: translateX(-50%);
}

a {color: #fff;}

a:hover {color:red;}





