* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.b {
  height: 3000px;
  width: 25%;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  font-family: Courier;
  text-transform: uppercase;
  color: #777;
}

.f:hover {
  background: #fff;
}

.b1 {background: #111;}
.text1 {position: relative; top: 500px;}

.b2 {background: #222;}
.text2 {position: relative; top: 1000px;}

.b3 {background: #333;}
.text3 {position: relative; top: 50px;}

.b4 {background: #444;}
.text4 {position: relative; top: 2900px;}

.text4:hover {
  color:#fff;
}

.f {
  /* border: 1px solid white; */
  cursor: all-scroll;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
}
.f:active {
  cursor: none;
}

.f1 {
  position: absolute;
  background: #111;
  top: 450px;
  left: 12.5%;
  transform: translateX(-50%);
}

.f2 {
  position: absolute; 
  background: #222;
  top: 950px;
  left: 37.5%;
  transform: translateX(-50%);
}
.f3 {
  position: absolute;
  background: #333;
  top: 0px;
  left: 62.5%;
  transform: translateX(-50%);
}
.f4 {
  position: absolute;
  background: #444;
  top: 2850px;
  left: 87.5%;
  transform: translateX(-50%);
}





