body {
  padding-top: 230px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
  background-color: #fff;
  color: #000
}

.wrapper {
  margin: 40px auto;
}

.element {
  height: 100%;
  width: 100%;
  background-color: inherit;
}

.element p {
  visibility: hidden;
}

.element:-webkit-full-screen {
  padding:1000px;
  background-color:#000;
  color: #333;
  width: 100%;
  height: 100%;
}

.element:-webkit-full-screen p {
  visibility: visible;
}

button {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

button:active {color: #000;}

button:hover {color: #000;}